/* force background colour printing in chrome browser */
@mixin background($color, $img, $repeat) {
  background: $color $img $repeat scroll 0 0 !important;
}

@mixin border-radius($topLeft, $topRight, $botRight, $botLeft) {
  -webkit-border-radius: $topLeft $topRight $botRight $botLeft;
  -moz-border-radius: $topLeft $topRight $botRight $botLeft;
  border-radius: $topLeft $topRight $botRight $botLeft;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
  -webkit-box-shadow:inset $top $left $blur $color;
  -moz-box-shadow:inset $top $left $blur $color;
  box-shadow:inset $top $left $blur $color;
} @else {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
  }
}